.button-starter {
    font-family: $site-font;
    font-size: 14px;
    font-weight: $font-semibold;
    text-transform: uppercase;
    background-color: $orange-color;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    color: $white;
    padding: 10px 25px;
    margin:  20px auto;
}