@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$site-font: 'Open Sans', sans-serif;
$font-color: #212121;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 800;

$white: #fff;
$black: #000;
$orange-color: #ea4b12;
$blue-color: #3399CC;